<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlCandidato</servlet-name>
        <servlet-class>controlador.ControlCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCurriculum</servlet-name>
        <servlet-class>controlador.ProcesarCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarIdioma</servlet-name>
        <servlet-class>controlador.ProcesarIdioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarMunicipio</servlet-name>
        <servlet-class>controlador.ProcesarMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarNivelAcademico</servlet-name>
        <servlet-class>controlador.ProcesarNivelAcademico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarOferta</servlet-name>
        <servlet-class>controlador.ProcesarOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarProfesion</servlet-name>
        <servlet-class>controlador.ProcesarProfesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarTipoEmpresa</servlet-name>
        <servlet-class>controlador.ProcesarTipoEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarUsuario</servlet-name>
        <servlet-class>controlador.ProcesarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarHabilidad</servlet-name>
        <servlet-class>controlador.ProcesarHabilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarExpLaboral</servlet-name>
        <servlet-class>controlador.ProcesarExpLaboral</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlCandidato</servlet-name>
        <url-pattern>/controlCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCurriculum</servlet-name>
        <url-pattern>/procesarCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarIdioma</servlet-name>
        <url-pattern>/procesarIdioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarMunicipio</servlet-name>
        <url-pattern>/procesarMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarNivelAcademico</servlet-name>
        <url-pattern>/procesarNivelAcademico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarOferta</servlet-name>
        <url-pattern>/procesarOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarProfesion</servlet-name>
        <url-pattern>/procesarProfesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarTipoEmpresa</servlet-name>
        <url-pattern>/procesarTipoEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarUsuario</servlet-name>
        <url-pattern>/procesarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarHabilidad</servlet-name>
        <url-pattern>/procesarHabilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarExpLaboral</servlet-name>
        <url-pattern>/procesarExpLaboral</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
